
}
#searchButton {
  -fx-background-color: #148c42;
  -fx-background-radius: 15.0px;
  -fx-border-width: 0.0px;
  -fx-font-size: 18.0px;
  color: white;
}
#searchButton:hover {
  -fx-background-color: #306141;
  -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0); /* Keeps the shadow effect */
}

#searchButton:pressed {
  -fx-background-color: #0d331a;
  -fx-effect: innershadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0); /* Changes to an inner shadow to simulate depth */
}
.list-view {
    -fx-background-radius: 10; /* Rounded corners */
    -fx-border-radius: 10; /* Ensure the border is also rounded */
    -fx-border-width: 2; /* Bold lines for the border */
    -fx-border-color: black; /* Color of the border */
}

.list-cell {
    -fx-padding: 10px; /* Space inside each cell */
    -fx-background-color: transparent; /* Avoid overriding rounded corners */
    -fx-font-weight: bold; /* Bold text */
    -fx-font-size: 16px; /* Larger text for better readability */
    -fx-text-fill: black; /* Color of the text */
}

/* Hover effect for list cells */
.list-cell:filled:hover {
    -fx-background-color: lightgray; /* Change as needed */
}

/* Selected cell effect */
.list-cell:filled:selected {
    -fx-background-color: #0096C9; /* Change as needed */
    -fx-text-fill: white;
}
.text-field {
    -fx-background-color: white, linear-gradient(to bottom, #fafafa, #f4f4f4);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 15; /* Rounded edges */
    -fx-padding: 10px; /* Padding inside the text field */
    -fx-text-fill: black; /* Text color */
    -fx-font-weight: bold; /* Bold text */
    -fx-font-size: 14px; /* Size of the text */
    -fx-border-color: #c4c4c4; /* Color of the border */
    -fx-border-radius: 15; /* Rounded border edges to match the background */
    -fx-border-width: 2px; /* Width of the border */
}

.text-field:focused {
    -fx-border-color: #90caf9; /* Color of the border when the text field is focused */
    -fx-border-width: 2px; /* Width of the border when focused */
    -fx-background-color: white;
}
.text-area {
    -fx-background-color: white;
    -fx-background-insets: 0; /* Adjust as needed */
    -fx-background-radius: 5; /* Adjust for rounded corners */
    -fx-padding: 6px; /* Inner padding */
    -fx-text-fill: #333; /* Text color */
    -fx-font-size: 12pt; /* Adjust text size as needed */
    -fx-border-color: black; /* Make the border color black or any dark color you prefer */
    -fx-border-width: 2px; /* Increase the border width for visibility */
    -fx-border-radius: 5; /* Ensure the border radius matches the background radius */
}

.text-area:focused {
    -fx-border-color: deepskyblue; /* Color for focused state */
    -fx-border-width: 2px; /* Keep the border width consistent */
}