/*Login FXML*/

#signlbl {
	-fx-font-family: "Segoe UI";
	-fx-font-size: 15.0px;
	-fx-background-radius: 15.0px;
}
#signlbl:hover {
	    -fx-effect: dropshadow(three-pass-box, rgba(16, 48, 44, 0.5), 8.0, 0.0, 0.0, 0.0);

}
#signinbutton {
  -fx-background-color: #148c42;
  -fx-background-radius: 15.0px;
  -fx-border-width: 0.0px;
  -fx-font-size: 18.0px;
  color: white;
}
#signinbutton:hover {
  -fx-background-color: #306141;
  -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0); /* Keeps the shadow effect */
}

#signinbutton:pressed {
  -fx-background-color: #0d331a;
  -fx-effect: innershadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0); /* Changes to an inner shadow to simulate depth */
}
